<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery.min.js') }}"></script>
	<style type="text/css">
		body{ background-color: #404C53 }

		.corps{ background-color: white;width: 45%; height: 725px; position: relative; top:-5px; margin:auto; }

		.d1, .d2 { line-height:3px; display: inline-block; font-size: 14px; }

		.d1{ position: relative; left: 25px; top:-30px; width: 200px; padding: 10px}

		.d2 { position: relative; float: right; left: 50px; top:-10px; width: 270px; padding: 10px }
	</style>
</head>
<body>
	<div class="corps" id="page">
		<div style="position:relative; top:30px ">
			<div class="d1">
				<div>
					<img src="{{ asset('assets/image/facture.png') }}" alt="logo" style=" width:120px">
				</div>
				<div>
					<p>ALAIN GSM</p>
					<p>Tel: 034 01 048 88</p>
				</div>
			</div>
			<div class="d2">
            {% for liste in listes %}
				<p><b>Bon de commande n°:</b> {{ liste.id }}</p>
				<p><b>Date: </b> {{ liste.entrDate ? liste.entrDate|date('Y-m-d') : '' }}</p>
				<p><b>Fournisseur: </b> {{ liste.fournisseur }}</p>
				<p><b>Contact: </b>{{ liste.fournisseur.FrnContact }}</p>
				<p><b>Adresse: </b>{{ liste.fournisseur.FrnAdresse }}</p>
             {% endfor %}	
			</div>	

			<table class="table table-bordered" style="width:95%; margin:auto">
				<thead>
					<tr>
						<th>Quantité</th>
						<th>Article</th>
						<th>Prix unitaire</th>
						<th>Montant</th>
					</tr>
				</thead>
				<tbody>
                    {% for liste in listes %}
                        <tr>
                            <td>{{ liste.produit }}</td>
                            <td>{{ liste.entrPrix }}</td>
                            <td>{{ liste.entrQuantite }}</td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

                





