{% extends 'base.html.twig' %}

{% block title %}Gestion de vente | Liste des entrées{% endblock %}

{% block body %}
    <h4>Ajout entrée</h4>
    {# <a class="btn btn-secondary" href="{{ path('entree_new') }}" style="color:white; text-decoration: none; font-size:12px; width:115px; height: 32px; margin-bottom:10px;"><i class="fa fa-plus" style="padding: 5px"></i>Ajouter</a> #}
    <div style="width:90%">
        <div class="table-responsive">
            <table class="table table-bordered" id="crud_table" style="background-color:white">
                <tr>
                    <th>Fournisseur</th>
                    <th>Produit</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td contenteditable="true" class="entr_name"></td>
                    <td contenteditable="true" class="entr_code"></td>
                    <td contenteditable="true" class="entr_desc"></td>
                    <td contenteditable="true" class="entr_price"></td>
                    <td contenteditable="true" class="entr_qte"></td>
                    <td></td>
                </tr>
            </table>
            <div align="right">
                <button type="button" name="add" id="add" class="btn btn-secondary" style="height:25px; font-size:9px">+</button>
            </div>
            <div align="center">
                <button type="button" name="save" id="save" class="btn btn-success" style="height:35px; font-size:12px">Enregistrer</button>
            </div>
            <br />
            <div id="inserted_item_data"></div>
        </div>
        <div style="position:relative; top: 20px">
        <h4>Liste des entrées</h4>
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Fournisseur</th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entree in entrees %}
                    <tr>
                        <td>{{ entree.id }}</td>
                        <td>{{ entree.entrDate ? entree.entrDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ entree.fournisseur }}</td>
                        <td>{{ entree.produit }}</td>
                        <td>{{ entree.entrPrix }}</td>
                        <td>{{ entree.entrQuantite }}</td>
                        <td>
                            <a title="Détails" href="{{ path('entree_show', {'id': entree.id}) }}"><i class="fa fa-eye" style="padding: 5px"></i></a>
                            <a title="Modifier" href="{{ path('entree_edit', {'id': entree.id}) }}"><i class="fa fa-edit" style="padding: 5px"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
        <script>
            $(function() {
                
                $('#example').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    }
                  });


                });

        $(document).ready(function(){
        var count = 1;
        $('#add').click(function(){
        count = count + 1;
        var html_code = "<tr id='row"+count+"'>";
        html_code += "<td contenteditable='true' class='item_name'></td>";
        html_code += "<td contenteditable='true' class='item_code'></td>";
        html_code += "<td contenteditable='true' class='item_desc'></td>";
        html_code += "<td contenteditable='true' class='item_price' ></td>";
        html_code += "<td contenteditable='true' class='item_qte'></td>";
        html_code += "<td><button type='button' name='remove' data-row='row"+count+"' class='btn btn-danger remove' style='height:25px; font-size:9px'>-</button></td>";   
        html_code += "</tr>";  
        $('#crud_table').append(html_code);
        });
        
        $(document).on('click', '.remove', function(){
        var delete_row = $(this).data("row");
        $('#' + delete_row).remove();
        });
        
        $('#save').click(function(){
        var item_name = [];
        var item_code = [];
        var item_desc = [];
        var item_price = [];
        var item_qte = [];
        $('.item_name').each(function(){
        item_name.push($(this).text());
        });
        $('.item_code').each(function(){
        item_code.push($(this).text());
        });
        $('.item_desc').each(function(){
        item_desc.push($(this).text());
        });
        $('.item_price').each(function(){
        item_price.push($(this).text());
        });
        $('.item_qte').each(function(){
        item_price.push($(this).text());
        });
        $.ajax({
        url:"{{ path('entree_new') }}",
        method:"POST",
        data:{item_name:item_name, item_code:item_code, item_desc:item_desc, item_price:item_price},
        success:function(data){
            alert(data);
            $("td[contentEditable='true']").text("");
            for(var i=2; i<= count; i++)
            {
            $('tr#'+i+'').remove();
            }
            fetch_item_data();
        }
        });
        });
        
        function fetch_item_data()
        {
        $.ajax({
        url:"{{ path('entree_index') }}",
        method:"POST",
        success:function(data)
        {
            $('#inserted_item_data').html(data);
        }
        })
        }
        fetch_item_data();
        
        });
    </script>
{% endblock %}

