{% extends 'base.html.twig' %}

{% block title %}Gestion de vente | Modification utilisateur{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/image.css') }}">{% endblock %}

{% block body %}
    <h3>Modification Utilisateur</h3>

     <a href="{{ path('utilisateur_index') }}"  class="btn btn-secondary" style="color:white; text-decoration: none; font-size:12px; width:115px; height: 35px;"><i class="fa fa-chevron-left" style="padding: 5px"></i>Retour</a>

    {{ include('utilisateur/_delete_form.html.twig') }}

    {{ form_start(form) }} 
        <button class="btn btn-success" style="position:relative; top:-71px; left:121px; font-size:12px;"><i class="fa fa-edit" style="padding: 5px"></i>{{ button_label|default('Enregistrer') }}</button>
        <div style="position:relative; width:40%; margin:auto">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="img_prev" id="img_prev">
                        {{ form_row(form.profil) }}
                        {% if utilisateur.profil != NULL %}
                            <img src="{{ asset('uploads/images/user/' ~ utilisateur.profil) }}" alt="{{utilisateur.userNom}}" class="image_default">
                            <span class="add_img">
                                <p>Modifier le profil</p> 
                                <i class="fa fa-camera fa-2x"></i>
                            </span>
                        {% else %}
                            <img src="{{ asset('assets/image/profil.jpg') }}" alt="profil" class="image_default">
                            <span class="add_img">
                                <p>Ajouter un profil</p>
                                <i class="fa fa-camera fa-2x"></i>
                            </span>
                        {% endif %}
                        <span class="modif_Img">
                            <p>Modifier l'image</p>
                            <i class="fa fa-camera fa-2x"></i>
                        </span>
                    </div>
                </div>
            </div>
            {{ form_row(form.user_nom) }}
            {{ form_row(form.user_login) }}
            {{ form_row(form.user_contact) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.user_status) }}
            {{ form_row(form.user_type) }} 
    </div>    
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
      {{ parent() }}
    <script>
        const inputPicture = document.getElementById("utilisateur_profil");
        const img_prev = document.getElementById("img_prev");
        const image_default = img_prev.querySelector(".image_default");
        const AjoutImage = img_prev.querySelector(".add_img");
        const modif_Img = img_prev.querySelector(".modif_Img"); 
        const imgSrc = image_default.getAttribute("src");

        inputPicture.addEventListener('change', function(){
            const fichier_categorie = this.files[0];
            if (fichier_categorie) {
                const read_file_cate = new FileReader();

                AjoutImage.style.display = "none";
                modif_Img.style.display = "flex";
                image_default.style.display = "block"; 

                read_file_cate.addEventListener("load", function(){
                    image_default.setAttribute("src", this.result);
                });

                read_file_cate.readAsDataURL(fichier_categorie);
            } else {
                AjoutImage.style.display = null;
                modif_Img.style.display = null;
                image_default.style.display = null;
                image_default.setAttribute("src", imgSrc);
            }
        });
    </script>
{% endblock %}
