<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery.min.js') }}"></script>
	<style type="text/css">
		body{ background-color: #404C53 }

		.corps{ background-color: white;width: 45%; height: 725px; position: relative; top:-5px; margin:auto; }

		.d1, .d2 { line-height:3px; display: inline-block; font-size: 14px; }

		.d1{ position: relative; left: 25px; top:-30px; width: 200px; padding: 10px}

		.d2 { position: relative; float: right; left: 50px; top:-10px; width: 270px; padding: 10px }
	</style>
</head>
<body>
	<div class="corps" id="page">
		<div style="position:relative; top:30px ">
			<div class="d1">
				<div>
					<img src="{{ asset('assets/image/facture.png') }}" alt="logo" style=" width:120px">
				</div>
				<div>
					<p>ALAIN GSM</p>
					<p>Tel: 034 01 048 88</p>
				</div>
			</div>
			<div class="d2">
				<p><b>Facture n°:</b> </p>
				<p><b>Date: </b> {{ facture.sortDate ? facture.sortDate|date('Y-m-d') : '' }}</p>
				<p><b>M: </b> {{ facture.client }}</p>
				<p><b>Contact: </b>{{ facture.client.cliContact }}</p>
				<p><b>Adresse: </b>{{ facture.client.cliAdresse }}</p>
			</div>	

			<table class="table table-bordered" style="width:95%; margin:auto">
				<thead>
					<tr class="text-center">
						<th>Quantité</th>
						<th>Article</th>
						<th>Prix unitaire</th>
						<th>Montant</th>
					</tr>
				</thead>
				<tbody>
					{% for facture in factures %}
						<tr class="text-center">
							<td>{{ facture.sortQuantite }}</td>
							<td>{{ facture.produit }}</td>
							<td>{{ facture.sortPrix }} Ar</td>
							<td>{{ facture.sortPrix * facture.sortQuantite }} Ar</td>
						</tr>
					{% endfor %} 
				</tbody>
			</table>
			<div style="padding: 15px">
				{% set total = 0 %}
 					{% for facture in factures %}
    					{% set total = total+ facture.sortPrix * facture.sortQuantite %}
 					{% endfor %}
				<p><b>Montant total: </b>{{total}} Ar</p>
			</div>
		</div>
	</div>
