<head>
	<meta charset="UTF-8">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/menunav.css') }}">
	{% endblock %}
</head>
<body>
<div class="wrapper">
		<div class="navbar">
            <div class="logo">
                <a></a>
            </div>
			<div class="nav_right">
				<ul>
					<li class="nr_li dd_main">
                        <i class="fa fa-bars" style="width: 35px"></i>
                        <div class="dd_menu">
                            <div class="dd_left">
                                <ul>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><i class="fa fa-cog"></i></li>
                                    {% endif %}
                                    <li><i class="fa fa-tools"></i></li>
                                    <li><i class="fa fa-sign-out-alt"></i></li>
                                </ul>
                            </div>
                            <div class="dd_right">
                                <ul>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('parametre_index') }}">Paramètre</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('typographie_index') }}">Typologie</a></li>
                                    {% if app.user %}
                                        <li><a href="{{ path('deconnecte') }}" id="logout">Déconnexion</a></li>
                                        <input type="hidden" value="{{ app.user.username }}" id="user">
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</div>
<script>
	var dd_main = document.querySelector(".dd_main");

	dd_main.addEventListener("click", function(){
		this.classList.toggle("active");
	})
</script>
<script>
    $(document).ready(function(){
        $('#logout').click(function(e){
            e.preventDefault();
            const urlAdd = e.target.getAttribute('href');
            let user = $('#user').val();
            $.ajax({
                url: urlAdd,
                method: 'GET',
                data: {
                    user: user,
                },
                success: function (response) {
                    location.reload(true);
                }
            })
        });
    });
</script>
</body>